<!DOCTYPE html>
<html>
  <head>
    <title>BloodDonationApp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
<body>
<div class="home-page-headers">
  <div class="blood-donation-logo">
    <img src="http://financialtribune.com/sites/default/files/field/image/ordi/12_Blood.jpg">
  </div>
<div class="slogan">
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#">Home <span class="sr-only">(current)</span></a></li>
        <li><a href="#">About us <span class="sr-only">(current)</span></a></li>
        <li><a href="#">Contact us <span class="sr-only">(current)</span></a></li>
        <li><a href="#">Blood Request <span class="sr-only">(current)</span></a></li>
        <li><a href="#">Donate Blood <span class="sr-only">(current)</span></a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Register <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Register as Donor</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Register as Blood Bank</a></li>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
</div>
</div>
  <%= yield %>
</body>
</html>
